<!DOCTYPE html><html><head>
    <meta charset="utf-8">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<title>Mechpen</title>


<link rel="icon" type="image/png" href="/assets/favicon.png">
<link rel="stylesheet" href="/assets/style.css">

    
    
  </head>

  <body>
    <div>
      <div class="container">
        <header class="masthead clearfix">
          <div class="site-info">
            <a href="/" class="site-name">Mechpen</a>
          </div>
          <nav>
	    <a href="/">posts</a>
	    <a href="/notes">notes</a>
	    <a href="/about">about</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      <div class="post">
  <h1></h1>

  <div class="date">
    
  </div>

  <div class="entry">
    <p></p>
    
  </div>
</div>
<div class="vskip"></div>
<script src="https://utteranc.es/client.js" repo="mechpen/mechpen.github.io" issue-term="pathname" label="comment" theme="github-light" crossorigin="anonymous" async="">
</script>


    </div>
  

</body></html>