---
template: default.html

---

<div class="posts">
  {% assign sortedpages = allpages | sort: "date" %}
  {% for page in sortedpages reversed %}
  {% if page.type == "post" and page.list %}
    <article class="post">

      <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>

      <div class="date">
        {{ page.date | date: "%B %e, %Y" }}
      </div>

      <div class="entry">
        <p>{{ page.excerpt }}</p>
      </div>

      <a href="{{ page.url }}" class="more">read more</a>
    </article>
  {% endif %}
  {% endfor %}
</div>
