<!DOCTYPE html>
<html>
  <head>
    {% include header.html %}
    {% include themeSwitch.html %}
    {% for style in styles %}
    <link href="{{ style }}" rel="stylesheet" />
    {% endfor %}
    {% for script in scripts %}
    <script src="{{ script }}"></script>
    {% endfor %}
  </head>

  <body>
    <div>
      <div class="container">
        <header class="masthead clearfix">
          <div class="site-info">
            <a href="/" class="site-name">{{ site.name }}</a>
            <p class="site-description">{{ site.description }}</p>
          </div>
          <nav>
            <a id="light-mode" onclick="switchTheme()">light mode</a>
            <a id="dark-mode" onclick="switchTheme()">dark mode</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>
  </body>
</html>
