<!DOCTYPE html>
<html>
  <head>
    {% include header.html %}
    {% include themeSwitch.html %}
  </head>

  <body>
    <div>
      <div class="container">
        <header class="masthead clearfix">
          <div class="site-info">
            <h1 class="site-name"><a href="/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>
          <nav>
            <a id="light-mode" onclick="switchTheme()">light mode</a>
            <a id="dark-mode" onclick="switchTheme()">dark mode</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>
  </body>
</html>
